*~
#*
.#*
*.log
*.pid
.coverage
CURRENT_VERSION
.project
*.pyc
.ropeproject/
.pydevproject
.aptana
report.html
.ropeproject
.settings
nbproject/
.DS_Store
clear*
clear.*
pip-log.txt
.idea/
*.swp
*.swo
psd/